numpy==2.0.2 ; python_version >= "3.12" and python_version < "4.0"
opencv-python==4.10.0.84 ; python_version >= "3.12" and python_version < "4.0"
openvino-telemetry==2024.1.0 ; python_version >= "3.12" and python_version < "4.0"
openvino==2024.4.0 ; python_version >= "3.12" and python_version < "4.0"
packaging==24.1 ; python_version >= "3.12" and python_version < "4.0"
